In [198]:
import os
import sys

import pandas as pd
pd.options.display.max_columns = 999
import sqlalchemy as sqla
from sqlalchemy import create_engine

DB_URI = os.getenv('CD_DWH')
engine = create_engine(DB_URI)

In [199]:
QUERY = """
select
    regexp_replace(lower(recipient_candidate_name), '[^a-z ]', '', 'g') as clean_name,
    count(recipient_candidate_name),
    recipient_candidate_name
from trg_analytics.candidate_contributions
group by recipient_candidate_name
"""
with engine.begin() as conn:
    results = pd.read_sql(QUERY, conn)
    
print("Size:", results.size)
results.head(100)

Size: 4692

                     clean_name  count       recipient_candidate_name
0                          None      0                           None
1               mc hugh peter a     33              MC HUGH, PETER A.
2                     ali anila    163                     ALI, ANILA
3         knight william j pete    195    KNIGHT, WILLIAM J. \PETE\""
4                  hill jerry a   5404                 HILL, JERRY A.
5                  harris elihu     22                  HARRIS, ELIHU
6              acosta georgia l     26             ACOSTA, GEORGIA L.
7                  guillen abel   1300                  GUILLEN, ABEL
8                gerber donna c   1026               GERBER, DONNA C.
9             mc iver barbara g    259            MC IVER, BARBARA G.
10                  stoker mike   1574                   STOKER, MIKE
11                 parra pete h    225                 PARRA, PETE H.
12               eastin delaine   1059                EASTIN, DELAINE
13              runner george c   2816              RUNNER, GEORGE C.
14                coleman terry    346                 COLEMAN, TERRY
15             kishimoto yoriko    451              KISHIMOTO, YORIKO
16                   hill steve     28                    HILL, STEVE
17              zettel charlene   1192               ZETTEL, CHARLENE
18              jones suzanne v    197              JONES, SUZANNE V.
19    thomson helen m withdrawn    290  THOMSON, HELEN M. (WITHDRAWN)
20                  hanson mark      5                   HANSON, MARK
21                 dutra john a   2238                 DUTRA, JOHN A.
22                  howorth amy    511                   HOWORTH, AMY
23                yamada mariko    292                 YAMADA, MARIKO
24                   kalb dan e    137                   KALB, DAN E.
25               gentry doris l    191               GENTRY, DORIS L.
26                  aroner dion     56                   ARONER, DION
27              mansoor allan r   1202              MANSOOR, ALLAN R.
28                  adams steve    212                   ADAMS, STEVE
29          dominguez francisco    121           DOMINGUEZ, FRANCISCO
..                          ...    ...                            ...
70              wesson herman j    149               WESSON, HERMAN J
71             harrison michael    315              HARRISON, MICHAEL
72              torrico alberto   3918               TORRICO, ALBERTO
73                  la suer jay    872                   LA SUER, JAY
74          amador antonio tony    213         AMADOR, ANTONIO (TONY)
75                    tye steve    295                     TYE, STEVE
76              hernandez roger   1552               HERNANDEZ, ROGER
77          camejo peter miguel    472           CAMEJO, PETER MIGUEL
78                    bonta rob   4909                     BONTA, ROB
79              kraft gregory a     73              KRAFT, GREGORY A.
80          hill jr samuel joey     10           HILL JR, SAMUEL JOEY
81                 schanz terry      1                  SCHANZ, TERRY
82             nakanishi alan s   3993             NAKANISHI, ALAN S.
83                   diep tyler    151                    DIEP, TYLER
84               mathis devon j    539               MATHIS, DEVON J.
85           hernandez manuel p    512           HERNANDEZ, MANUEL P.
86          carter wilmer amina   1296           CARTER, WILMER AMINA
87                 lyons joseph     25                  LYONS, JOSEPH
88                    west tony     19                     WEST, TONY
89                morris gwen l     54                 MORRIS, GWEN L
90             daysog anthony h     17             DAYSOG, ANTHONY H.
91                  fuller jean   3126                   FULLER, JEAN
92         hosterman jennifer a      7         HOSTERMAN, JENNIFER A.
93                   lowe donna    263                    LOWE, DONNA
94           de la piedra mario    147            DE LA PIEDRA, MARIO
95                shelley kevin   2940                 SHELLEY, KEVIN
96  waterfield henrietta carmen      4   WATERFIELD, HENRIETTA CARMEN
97                  perry laura     16                   PERRY, LAURA
98                   dick larry    755                    DICK, LARRY
99                pauly deborah    113                 PAULY, DEBORAH

[100 rows x 3 columns]

In [28]:
from fuzzywuzzy import fuzz

size = len(results["clean_name"])

for i in range(size):
    name = results["clean_name"][i]
    for j in range(i + 1, size):
        test = results["clean_name"][j]
        fuz = fuzz.ratio(name, test)
        if fuz >= 77: # need to find how low this can go
            print("{}% Similar: {:^25}  {:^25} {:>5} {:>5}".format(fuz, name, test, results["count"][i], results["count"][j]))

94% Similar:     mc iver barbara g           mc iver barbara        259     1
93% Similar:      runner george c             runner george        2816    63
83% Similar:        hill steve               phillips steve          28   416
92% Similar:        hanson mark               hanson mark n           5    57
91% Similar:       dutra john a                dutra john          2238    17
93% Similar:       yamada mariko             yamada mariko m        292  2171
78% Similar:        adams steve               davis steven          212    14
78% Similar:    dominguez francisco         ramirez francisco       121     1
92% Similar:       gardner dean              gardner m dean          36   732
92% Similar:       price curren              price curren d        1017  1583
87% Similar:       akili gregory               akili greg           118     4
90% Similar:  mcdonald kristine lang      mc donald kristine l        9    26
91% Similar:        king david                king david a            3    74
82% Similar:        mann chris                lehman chris           51   231
79% Similar:  firebaugh marco antonio        firebaugh marco       1585     3
82% Similar:        roelle rick                powell rick           41    45
79% Similar:     hudson michael j           machado michael j       269  2606
94% Similar:     shoemaker brandon         shoemaker brandon k        2   211
84% Similar:         baca joe                  baca jr joe            1    12
84% Similar:         baca joe                  baca jr joe            1  2013
93% Similar:      topalian rita h             topalian rita         997    16
96% Similar:       mc cann john                mccann john          616     6
91% Similar:      wesson herman j          wesson jr herman j       149  2049
80% Similar:     harrison michael            wilson michael         315    39
88% Similar:     harrison michael          harrington michael       315     3
85% Similar:    camejo peter miguel          camejo peter m         472     2
93% Similar:      kraft gregory a             kraft gregory          73    19
80% Similar:        diep tyler                 izen tyler           151    39
94% Similar:    hernandez manuel p          hernandez manuel        512    22
92% Similar:       morris gwen l               morris gwen           54     4
95% Similar:   hosterman jennifer a        hosterman jennifer         7     4
94% Similar:     chavez christina           chavez christine        627     6
94% Similar:     craffey matthew g           craffey matthew         13     1
93% Similar:       horton jerome             horton jerome e        481  1063
94% Similar:     blumenfeld andrew         blumenfeld andrew j        1   508
80% Similar:      sanchez alfonso            sanchez antonio         38     8
78% Similar:       davis michael               davis mike           322  1559
80% Similar:       blount steve               blanton steve          14     6
78% Similar:       blount steve                young steve           14    20
78% Similar:        brown dave                brown david k          93   541
83% Similar:       sandoval greg            sandoval gabriel         97   586
90% Similar:      brown willie l            brown jr willie l       683   284
88% Similar:      uranga tonia r           uranga tonia reyes       119   490
94% Similar:      furutani warren           furutani warren t      4781     3
80% Similar:     phillips estes a            phillips steve           2   416
80% Similar:        harden dan               harden daniel v          1    49
79% Similar:        thiesen tim             thiesen timothy a        12   261
85% Similar:        thiesen tim              thiesen timothy         12    11
93% Similar:      allen michael j             allen michael        1242    25
94% Similar:    phares ann ventura         phares ana ventura       315     1
82% Similar:       rivas robert                rao robert            29   235
83% Similar:      bilbrey michael            breyer michael          31     5
89% Similar:         fong paul                  song paul          2124     9
80% Similar:      wagner donald p              wagner don           113  1741
81% Similar:       keene richard             kinney richard           1    44
83% Similar:       keene richard            melendez richard          1     3
93% Similar:       keene richard             keene richard j          1  4234
80% Similar:       keene richard              reed richard            1    41
81% Similar:        conlon greg             conlon p gregory        296   796
95% Similar:    petersonmore diana        petersonmore diana l        4  1434
79% Similar:      margett robert             magee robert e        1987   273
88% Similar:      silva  james w               silva james         1641   346
92% Similar:      ong jennifer h              ong jennifer           95   914
92% Similar:       mullin gene r               mullin gene          619   994
100% Similar:     dickson kenneth c          dickson kenneth c         2    69
91% Similar:     davenport robert          davenport ii robert        2     8
84% Similar:        dutra john                  tran john            17    65
78% Similar:        soto  nell                soto danielle        1614   100
86% Similar:         wakim sam                wakim samuel            4   212
93% Similar:     lutness carole l            lutness carole         122     4
90% Similar:      maccarley mark            mac carley mark j         4    69
92% Similar:       alby barbara              alby barbara j          47   106
89% Similar:      hallinan jr tom             hallinan tom           18     3
80% Similar:      hallinan jr tom            hallinan thomas         18   383
91% Similar:        nava pedro                nava pedro i            1  3220
79% Similar:     macias michael r           machado michael j         2  2606
93% Similar:       rubio michael             rubio michael j        197  1401
79% Similar:      cohelan timothy        cohelan timothy douglas     26   145
93% Similar:       armenta david             armenta david w          2   123
92% Similar:        houston guy               houston guy s        2371  1490
94% Similar:    canciamilla laura s         canciamilla laura       150     8
80% Similar:        bennett jd               bennett james d          1    56
81% Similar:     wilson michael l           wissot michael j        265    22
93% Similar:     wilson michael l            wilson michael         265    39
88% Similar:      young steven r               young steve            2    20
93% Similar:      young steven r            young steven ray          2   137
94% Similar:    mc pherson bruce a          mc pherson bruce         22  3702
94% Similar:      gonzalez lorena           gonzalez lorena s         3  2315
85% Similar:    park steel michelle          steel michelle         168  1896
89% Similar:       hallinan tom              hallinan thomas          3   383
93% Similar:     sanders joanne b            sanders joanne          90     5
80% Similar:     wissot michael j            wilson michael          22    39
80% Similar:   washington patricia a         washington pat         139    16
93% Similar:      groper richard            groper richard p         21   253
82% Similar:     cannella anthony        cannella anthony joseph     15  2183
87% Similar:      medford james d            ledford james c          2   239
95% Similar:   villaraigosa antonio      villaraigosa antonio r    2171  2024
97% Similar:     de saulnier mark            desaulnier mark       2517   658
93% Similar:      hammond lauren            hammond lauren r        976     7
92% Similar:       torres norma              torres norma j        1906    61
92% Similar:        forsch glen               forsch glen r           4     5
87% Similar:        umberg tom                umberg thomas         434    92
80% Similar:        umberg tom               umberg thomas j        434  2761
80% Similar:       speier jackie            speier jacqueline       180  6299
80% Similar:      stevens george               shen george          199    24
92% Similar:        chabot paul               chabot paul r          14   208

86% Similar:         leyes mak                leyes mark a          130   252
92% Similar:        medina jose               medina jose j          59  1740
92% Similar:        gaines beth               gaines beth b         111  1214
94% Similar:     schaupp charles e           schaupp charles        149     4
90% Similar:         cook paul                 cook paul j           30  1618
93% Similar:       ortiz deborah             ortiz deborah v          1  1537
81% Similar:   johannessen k maurice        johannessen mark        420   178
83% Similar:       jenkins stew             jenkins stewart d         6   199
78% Similar:  dickerson richard dick         dickerson dick         842     1
93% Similar:       hodges sherry             hodges sherry m          9  1096
87% Similar:       gaines edward            gaines edward ted       200   954
93% Similar:       gaines edward             gaines edward t        200  3503
78% Similar:       gaines edward               gaines ted           200    87
100% Similar:       vargas juan c              vargas juan c           8  2845
92% Similar:       vargas juan c               vargas juan            8     4
88% Similar:      baca jr jr joe               baca jr joe            2    12
88% Similar:      baca jr jr joe               baca jr joe            2  2013
82% Similar:   arellano christopher        armenta christopher       32    11
78% Similar:   arellano christopher       armenta christopher r      32    99
92% Similar:       leyva connie              leyva connie m         223   614
80% Similar:      stone jeffrey e              stone jeff          1937     3
95% Similar:    armenta christopher       armenta christopher r      11    99
90% Similar:      diridon rodney            diridon jr rodney       512   383
93% Similar:     connolly damon m            connolly damon        1388     3
87% Similar:       papan virgina               papan gina             1  1201
96% Similar:       papan virgina             papan virginia           1     8
89% Similar:   monville iii louis g         monville iii lou        321    10
90% Similar:        munn john r                 munn john           983     4
85% Similar:       barton john h              burton john l         376  1797
78% Similar:         pate john                  pena john            65     2
78% Similar:         pate john                  jake john            65    19
94% Similar:     vasquez melinda k           vasquez melinda         29     4
92% Similar:       atkins toni g               atkins toni         4088  1014
88% Similar:      dantona jr jim               dantona jim          124    27
96% Similar:       yee  betty t                yee betty t         5048   351
80% Similar:        rios pedro               rios pedro ayon          1   668
80% Similar:        belden mark                 leno mark             4  7722
89% Similar:       galvan isaac              galvan  isaac j          1   125
92% Similar:       gipson mike a               gipson mike          246  1483
79% Similar:      quintero frank             quintero andre         534    87
88% Similar:      quintero frank           quintero iii frank       534     2
88% Similar:    martinez   diane j           martinez diane          98     2
80% Similar:    reyes eloise gomez            reyes eloise          746    93
90% Similar:         wood carl                 wood carl w            4   365
92% Similar:        jones linda               jones linda k           3   330
92% Similar:      logue daniel r              logue daniel         2030    33
80% Similar:    calderon charles m          calderon thomas m      1618  2200
90% Similar:       aldana manuel            aldana jr manuel          3    88
94% Similar:      snodgrass donna           snodgrass donna j         5     1
82% Similar:        florez dean                florez fran         3110   893
92% Similar:        wapner alan               wapner alan d           6   417
91% Similar:       gould john s                gould john           122    19
100% Similar:        baca jr joe                baca jr joe           12  2013
95% Similar:        diaz manny                 diaz mannny         1463    79
85% Similar:    smith marianne bopp          smith marianne          41     2
82% Similar:       buck jill ann                buck jill           236     9
80% Similar:         munn john                 mccann john            4     6
93% Similar:     murray cynthia l            murray cynthia        1272     3
92% Similar:       warner russ h               warner russ          542    32
91% Similar:        popp elena                popp elena i           18   693
84% Similar:       berryhill tom           berryhill thomas c      2672   706
92% Similar:        meuser mark               meuser mark p          80   169
80% Similar:    walsh chad richard            walsh chad r            5   364
91% Similar:       young joel b                young joel           605     2
78% Similar:      smith ronald d                smith ron           293    14
80% Similar:       campbell tom               campbell john        1604   144
93% Similar:     breyer michael c            breyer michael         792     5
96% Similar:      garamendi john              garamedi john        9487   234
93% Similar:     dymally mervyn m            dymally mervyn        2944   739
90% Similar:     chavez edward ed             chavez edward         473   389
79% Similar:     mobley jr  jack m             mobley jack         1053     1
80% Similar:      alarcon richard            polanco richard       2136    59
93% Similar:       anderson joel             anderson joel c        558  2713
97% Similar:      mcgarry nellie             mc garry nellie          9   626
79% Similar:     melendez richard             reed richard            3    41
97% Similar:      quintero andres            quintero andre          99    87
93% Similar:       willis warren             willis warren p         30   121
92% Similar:       david saundra              davis saundra          10    96
84% Similar:        dunn joseph                 dunn joe           4438     3
80% Similar:      conrad william               conrad bill           10   112
79% Similar:      mc carty kevin             mc carty kelly        1849   353
97% Similar:      mc carty kevin             mc carthy kevin       1849  3417
96% Similar:      mc carty kevin              mccarty kevin        1849   212
83% Similar:     arambula joaquin             arambula juan        1425  2622
78% Similar:         eng mike                  nevin mike           169   360
87% Similar:        eng michael               fong michael         4478  1820
83% Similar:        eng michael               allen michael        4478    25
78% Similar:        eng michael               ing mitchell         4478    35
82% Similar:       pugno andrew                pugno andy          6917   151
79% Similar:      johnson brian c             jones brian w         844  1245
79% Similar:      arnerich newell        arnerich newell kenneth      9   262
94% Similar:     thiesen timothy a           thiesen timothy        261    11
92% Similar:       vargas juan c               vargas juan         2845     4
89% Similar:     kiraly virginia c        kiraly virginia chang      25     2
80% Similar:       walker larry               walker sherry         342    16
94% Similar:     gaines edward ted           gaines edward t        954  3503
92% Similar:        hodge jason               hodge jason t          29   492
80% Similar:         park ken                    pak ben            145   111
91% Similar:    gutierez lydia ann          gutierrez lydia a        42   158
79% Similar:     perkins robert e           bernosky robert e       197    31
84% Similar:        baker john                  jake john             9    19
88% Similar:    pacheco robert bob           pacheco robert         876    17
90% Similar:       campbell john            campbell john bt        144  2361
79% Similar:      lowenthal suja             lowenthal josh         367    44
79% Similar:      lowenthal suja             lowenthal alan         367  2708
93% Similar:     medina abigail m            medina abigail         631     1

95% Similar:   antonovich michael d        antonovich michael      1406     5
78% Similar:       mullin kevin                mullin gene         2093   994
93% Similar:      mc carthy kevin             mccarty kevin        3417   212
78% Similar:       leonard bill                conrad bill          755   112
85% Similar:      polanco richard              pan richard           59  4566
93% Similar:     keating janice e            keating janice         161    62
88% Similar:        roesch jean              roesch jean dr          12    58
95% Similar:    von szeliski heidi        von szeliski heidi j        3   340
82% Similar:        rao robert                frost robert          235    50
88% Similar:     gutierrez richard           aguirre richard          5    14
91% Similar:    mc fadden bradley j         mcfadden bradley         24     1
92% Similar:      marquez luis h              marquez luis          392    31
90% Similar:      ebenstein jeff            ebenstein jeffery        11   470
94% Similar:      aanestad samuel           aanestad samuel m         6  2246
93% Similar:      voorakkara sid            voorakkara sid c         27   537
78% Similar:        fazio steve               filson steve          897   204
80% Similar:        fazio steve                 fox steve           897   749
85% Similar:      caplane ronnie           caplane ronnie gail        3   953
93% Similar:      peterson pete n             peterson pete         726     3
81% Similar:        young steve             young steven ray         20   137
86% Similar:     caserta dominic j         caserta jr dominic       994    16
82% Similar:    kassakhian ardashes          kassakhian ardy          1  1752
94% Similar:     jacobi veronica s           jacobi veronica         24     3
92% Similar:      vidal thomas h              vidal thomas          138     4
92% Similar:        benoit john               benoit john j         877  2344
92% Similar:        miller gary               miller gary g          47   157
80% Similar:         silva jim                 silva james         1040   346
93% Similar:       wyman phillip             wyman phillip d         76   945
85% Similar:       torlakson mae              torlakson tom         696  7197
87% Similar:     hunter tricia rae            hunter tricia         421     2
100% Similar:      jones judith e             jones judith e          40    15
80% Similar:        silva james                 lau james           346   488
86% Similar:      olberg keith r             olberg r keith          26   778
92% Similar:      bosetti rick a              bosetti rick          483    10
78% Similar:        hom gloria                romero gloria           1  2370
84% Similar:    harrington michael      harrington michael mickey     3    44
100% Similar:     jeffries kevin d           jeffries kevin d          3  1203
93% Similar:     walker prophet l            walker prophet         987     3
88% Similar:      angelides phil           angelides philip n     24652    11
78% Similar:       caples brian                dahle brian           34  1839
90% Similar:        pena john j                 pena john           108     2
84% Similar:     strickland audra            strickland paul       3020    52
83% Similar:      washington pat             washington carl         16    33
82% Similar:      bates patricia          bates patricia c pat        4  2430
88% Similar:    miles jr lawrence w          miles  lawrence        206     1
93% Similar:       umberg thomas             umberg thomas j         92  2761
83% Similar:        papan gina               papan virginia        1201     8
91% Similar:        glaab paul                glaab paul g            4    84
78% Similar:  mc gill michael joseph         mcgill michael         277     2
81% Similar:     pettis gregory s              pettis greg          569     5
90% Similar:        kim young o                 kim young          3003     5
79% Similar:      carrillo pedro             carrillo wendy         682   425

In [29]:
# Noticing things like:
# 80% Similar:       blount steve               blanton steve          14     6 are these 4
# 78% Similar:       blount steve                young steve           14    20 different people?
# 78% Similar:       davis michael               davis mike           322  1559 
# 80% Similar:        diep tyler                 izen tyler           151    39 80%, possibly different people
# 80% Similar:     harrison michael            wilson michael         315    39 
# 88% Similar:     harrison michael          harrington michael       315     3 80% for 4 people
# 85% Similar:    camejo peter miguel          camejo peter m         472     2 85% for a probably match
# 78% Similar:    dominguez francisco         ramirez francisco       121     1 
# 79% Similar:      cohelan timothy        cohelan timothy douglas     26   145 79% same person?

In [214]:
# data.sort(key=lambda tup: tup[1])  # sorts in place
from fuzzywuzzy import fuzz

size = len(results["clean_name"])
orgi_name = results["recipient_candidate_name"]

print("Fuzzy comparing")

# Above cell but compressed with original name and stored to a variable -- I wanted to try it with list comprehension... 
data = [[results["clean_name"][i], [[fuzz.ratio(results["clean_name"][i], results["clean_name"][j]), results["clean_name"][j], results["recipient_candidate_name"][j], results["count"][j]] for j in range(i + 1 , size)], results["recipient_candidate_name"][i], results["count"][i]] for i in range(size)]

# ignore None 
if data[0][0] is None:
    data = data[1:]

Fuzzy comparing

In [215]:
print("Sorting comparisons")
# Need to ignore the last few because their comparisons are 0
for dat in data[:-2]:
    # print(dat[1][1][0])
    # break
    dat[1].sort(reverse=True, key=lambda t: t[0])

Sorting comparisons

In [216]:
# Taking a peak at the 3rd element from the back
print(data[-3])
# Because we (should be) only comparing unique rows the last few have smaller and more viewable 'comparison array'

['maze bill', [[29, 'harrington michael mickey', 'HARRINGTON, MICHAEL \\MICKEY\\""', 44], [11, 'scott jack', 'SCOTT, JACK', 671]], 'MAZE, BILL', 1536]

In [259]:
print("Everyone with at least 96 % match in this dataset")
print("Match% name (count) 'name_in_db' -- 'name_in_db (count)")

print()
for dat in data:
    for d in dat[1]:
        # print(d[1])
        if d[0] < 96:
            break
        else:
            print("{:>3}% {:>20}: ({}) {:^25} -- {:^25} ({})".format(d[0], dat[0], dat[3], dat[2], d[2], d[3]))

Everyone with at least 96 % match in this dataset
Match% name (count) 'name_in_db' -- 'name_in_db (count)

 96%         mc cann john: (616)       MC CANN, JOHN       --       MCCANN, JOHN        (6)
100%    dickson kenneth c: (2)    DICKSON, KENNETH C     --    DICKSON, KENNETH C.    (69)
 97%     de saulnier mark: (2517)     DE SAULNIER, MARK     --     DESAULNIER, MARK      (658)
100%        vargas juan c: (8)      VARGAS, JUAN C       --      VARGAS, JUAN C.      (2845)
 96%        papan virgina: (1)      PAPAN, VIRGINA       --      PAPAN, VIRGINIA      (8)
 96%         yee  betty t: (5048)      YEE , BETTY T.       --       YEE, BETTY T.       (351)
100%          baca jr joe: (12)      BACA. JR., JOE       --       BACA JR., JOE       (2013)
 96%       garamendi john: (9487)      GARAMENDI, JOHN      --      GARAMEDI, JOHN       (234)
 97%       mcgarry nellie: (9)      MCGARRY, NELLIE      --     MC GARRY, NELLIE      (626)
 97%      quintero andres: (99)     QUINTERO, ANDRES      --      QUINTERO, ANDRE      (87)
 97%       mc carty kevin: (1849)      MC CARTY, KEVIN      --     MC CARTHY, KEVIN      (3417)
 96%       mc carty kevin: (1849)      MC CARTY, KEVIN      --      MCCARTY, KEVIN       (212)
100%       jones judith e: (40)     JONES, JUDITH E.      --      JONES, JUDITH E      (15)
100%     jeffries kevin d: (3)     JEFFRIES, KEVIN D     --    JEFFRIES, KEVIN D.     (1203)

In [218]:
print(data[-5][0]) ## Clean name
print(data[-5][2]) ## 'original' name in the db
print(data[-5][3]) ## that name's count
print(data[-5][1]) ## Comparisons against all the other people
print(data[-5][1][-1]) ## the last comparison for this person [fuzzy%, clean_name, original_name, count]

renison john
RENISON, JOHN
93
[[36, 'scott jack', 'SCOTT, JACK', 671], [32, 'harrington michael mickey', 'HARRINGTON, MICHAEL \\MICKEY\\""', 44], [25, 'wayne howard', 'WAYNE, HOWARD', 475], [19, 'maze bill', 'MAZE, BILL', 1536]]
[19, 'maze bill', 'MAZE, BILL', 1536]